<div>
  @for (pokemon of firstGenPokemon; track pokemon.id) {
    <h2>#{{ pokemon.id }}</h2>
    <h2>{{ pokemon.name }}</h2>
    <div>
      <!--<img [src]="pokemon.sprites.other['showdown'].front_default" [alt]="pokemon.name" />-->
      <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name" />
    </div>
    <div>
      <h3>{{ pokemon.types[0].type.name }}</h3>
      @if (pokemon.types.length > 1) {
        <h3>{{ pokemon.types[1].type.name }}</h3>
      }
    </div>
    <button (click)="goToPokemonDetails(pokemon.id)">More Details</button>
  }
</div>
