<button (click)="goToPokedex()">Pokedex</button>
<div>
  <div>
    <h2>{{ pokemon.id }}</h2>
    <h2>{{ pokemon.name }}</h2>
  </div>
  <div>
    @if (pokemon.sprites.other.showdown.back_female !== null) {
    <div>
      <h2>Male Sprites</h2>
      <div>
        <img [src]="pokemon.sprites.other.showdown.front_default" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.front_shiny" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.back_default" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.back_shiny" [alt]="pokemon.name" />
      </div>
    </div>
    <div>
      <h2>Female Sprites</h2>
      <div>
        <img [src]="pokemon.sprites.other.showdown.front_female" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.front_shiny_female" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.back_female" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.back_shiny_female" [alt]="pokemon.name" />
      </div>
    </div>
    } @else {
    <div>
      <h2>Sprites</h2>
      <div>
        <img [src]="pokemon.sprites.other.showdown.front_default" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.front_shiny" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.back_default" [alt]="pokemon.name" />
        <img [src]="pokemon.sprites.other.showdown.back_shiny" [alt]="pokemon.name" />
      </div>
    </div>
    }
  </div>
  <div>
    @if (pokemon.types.length > 1) {
      <div>
        <h2>Types</h2>
      </div>
      <div>
        <h2>{{ pokemon.types[0].type.name }}</h2>
        <h2>{{ pokemon.types[1].type.name }}</h2>
      </div>
    } @else {
      <div>
        <h2>Type</h2>
      </div>
      <div>
        <h2>{{ pokemon.types[0].type.name }}</h2>
      </div>
    }
  </div>
  <div>
    <table>
      <caption>
        <h2>Base Stats</h2>
      </caption>
      <thead>
        <tr>
          @for (stat of pokemon.stats; track stat.stat.name) {
            <th scope="col">
              {{ stat.stat.name }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          @for (stat of pokemon.stats; track stat.stat.name) {
            <td>
              {{ stat.base_stat }}
            </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <caption>
        Full type Relations
      </caption>
      <thead>
        <tr>
          <th scope="col" colspan="18">
            Defense
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="18">
            Attack
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
